@font-face {
    font-family: "ZZZ";
    src: url("~/assets/fonts/zzz.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    font-family: "ZZZ", sans-serif;
    font-style: normal;
}
body {
    width: calc(100vw - (100vw - 100%));
}

/* Use these custom variables... */
:root {
    --polka-bg-image: radial-gradient(rgb(19, 19, 19) 30%, transparent 30%),
        radial-gradient(rgb(19, 19, 19) 30%, transparent 30%);
    --polka-bg-position: 0px 0px, 4px 4px;
    --polka-bg-size: 8px 8px;
    --polka-bg-color: rgb(26, 26, 26);
}

/* ...or add this class to an element */
.polka {
    background-image: radial-gradient(rgb(19, 19, 19) 30%, transparent 30%),
        radial-gradient(rgb(19, 19, 19) 30%, transparent 30%);
    background-position: 0px 0px, 4px 4px;
    background-size: 8px 8px;
    background-color: rgb(26, 26, 26);
}
.polka-top {
    background-image: radial-gradient(rgb(19, 19, 19) 30%, transparent 30%),
        radial-gradient(rgb(19, 19, 19) 30%, transparent 30%);
    background-position: 0px 0px, 4px 4px;
    background-size: 8px 8px;
    background-color: rgb(26, 26, 26);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.polka-bottom {
    background-image: radial-gradient(rgb(19, 19, 19) 30%, transparent 30%),
        radial-gradient(rgb(19, 19, 19) 30%, transparent 30%);
    background-position: 0px 0px, 4px 4px;
    background-size: 8px 8px;
    background-color: rgb(26, 26, 26);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.7) 1px 0 8px;
}
/* width */
.scroll-bar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
    background: #313131;
}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
    background: #767678;
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #767678;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 100%;
    animation: l7 1s infinite linear;
}
@keyframes l7 {
    33% {
        background-size: calc(100% / 3) 0%, calc(100% / 3) 100%,
            calc(100% / 3) 100%;
    }
    50% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 0%,
            calc(100% / 3) 100%;
    }
    66% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 100%,
            calc(100% / 3) 0%;
    }
}
.dialog-button-border {
    border-radius: 1.5rem;
    border-top-right-radius: 0.6rem;
}
